<html>
    <head>
      {% if title %}
      <title>{{ title }} - PG Manager</title>
      {% else %}
      <title>Welcome to PG Manager</title>
      {% endif %}
    </head>
    <body>
        <div>
			PG Manager:
			<a href="{{ url_for('auth.index') }}">Home</a>
			{% if current_user.is_anonymous %}
			<a href="{{ url_for('auth.login') }}">Login</a>
			{% else %}
			<a href="{{ url_for('auth.logout') }}">Logout</a>
			{% endif %}
		</div>
        <hr>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
